.container {
  width: 650px;
}
.center-text {
  text-align: center;
}
.form-content {
  margin: 20px 20px 20px 20px;
}
.form-field {
  width: 80%;
}
.error-text {
  color: red;
}
.recover-password {
  margin-left: 20px;
}
