.container {
  margin: auto;
  width: 350px;
  // border: 1px solid grey;
}
.center-text {
  text-align: center;
}
.error-text {
  color: red;
}
.form-content {
  margin: 20px 20px 20px 20px;
}
.form-field {
  width: 80%;
}
