<button mat-icon-button aria-label="User options" [matMenuTriggerFor]="userOptions">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #userOptions="matMenu">
  <button mat-menu-item (click)="withdrawClick()">Withdraw</button>
  <button mat-menu-item (click)="transferClick()">Transfer</button>
  <button mat-menu-item (click)="setWithdrawAddressClick()">Set withdraw address</button>
  <!-- <button mat-menu-item (click)="deleteClick()">Delete user</button>
  <button mat-menu-item (click)="reactivateClick()">Reactivate user</button> -->
</mat-menu>
