.card-holder {
  cursor: pointer;
  height: 200px;
}
.title-text {
  text-align: center;
  font-size: 1.3em;
}
.spacer {
  margin-top: 30px;
}
.sub-text {
  font-family: 'Hack';
  margin-left: 10px;
  font-size: 0.9em;
  color: grey;
  font-style: italic;
}
