<h3>Set withdraw address</h3>
<div *ngIf="currentAddress">
  <p>Withdraw address successfully set.</p>
    <table>
      <tr>
        <td class="table-key">Withdraw address</td>
        <td class="table-value"><copy-string-box [data]="currentAddress"></copy-string-box></td>
      </tr>
    </table>
</div>
<div>
  <div *ngIf="!busy && !currentAddress">
    <p *ngIf="errorMessage" class="error-text">error: {{ errorMessage }}</p>
    <form class="form-content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <mat-form-field class="address-input">
        <!-- <span matPrefix>address: &nbsp;</span> -->
        <input matInput
          formControlName="address"
          type="text"
          autocomplete="off"
          placeholder="withdraw address">
      </mat-form-field>
      <div>
        <button mat-stroked-button
          type="submit"
          [disabled]="!form.valid">set address</button>
      </div>
    </form>
  </div>
  <div *ngIf="!busy" style="display: flex; justify-content: flex-end">
    <button mat-flat-button (click)="onCloseClick()">close</button>
  </div>
  <div *ngIf="busy">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
</div>
