<div class="page-container">
  <div class="page-content">
    <mat-card class="y-spacer">
      <mat-card-content>
        <mat-card-title class="page-title">Getting started</mat-card-title>
        <p>
          Once you have created an app in the console you are ready to get started using TurtleCoin in your app. Listed
          below you can find guides for interacting with the TRTL apps service.
        </p>
        <div class="section-spacer"></div>
        <mat-card-title>HTTP endpoints</mat-card-title>
        <p>
          TRTL apps provides a set of RESTful API endpoints that your app can interact with. Most of these endpoints
          require authorization using a bearer token containing your app's secret key. You can find your app secret
          in the app console overview page.
        </p>
        <p>You can find the <a href="/docs/openapi/" target="_blank">full HTTP endpoints documentation here.</a></p>
        <div class="section-spacer"></div>
        <mat-card-title>NPM package</mat-card-title>
        <p>
          If you are developing your app in a node.js environment, we highly recommend using the TRTL apps NPM package.
          The package is fully documented and provides strongly typed API function calls and many useful helper functions.
        </p>
        <p>
          You can find the <a [href]="npmPackageLink" target="_blank">NPM package here</a>,
          and the <a href="https://zoidbergza.github.io/turtle-apps-node/classes/_trtlapp_.trtlapp.html" target="_blank">full API documentation here.</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
