<mat-list>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onServiceStatusClick()">Admin overview</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onWalletManagementClick()">Wallet management</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onReportsClick()">Reports</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button">Invitations</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onAppInspectorClick()">App inspector</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onInspectDepositClick()">Deposit inspector</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onInspectWithdrawalClick()">Withdrawal inspector</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="sidenav-button" (click)="onRoleManagementClick()">Role Management</button>
  </mat-list-item>
</mat-list>
