<h2 class="center-text">Reset password</h2>
<div class="container">
  <div *ngIf="!working">
    <div *ngIf="!sent">
      <p>Enter the email address you used to create your account to receive a password reset email.</p>
      <p class="error-text center-text">{{ errorMessage }}</p>
      <form class="form-content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <mat-form-field class="form-field">
          <input matInput
            type="email"
            placeholder="e-mail"
            formControlName="email">
        </mat-form-field>
        <div>
          <button mat-stroked-button
            type="submit"
            [disabled]="!form.valid"><mat-icon>send</mat-icon> send</button>
        </div>
      </form>
    </div>
    <div *ngIf="sent">
      <p>An email has been sent with instructions for resetting your password.</p>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end">
    <button mat-flat-button (click)="onCloseClick()">close</button>
  </div>
  <div *ngIf="working">
    <mat-spinner diameter="64"></mat-spinner>
  </div>
</div>
