<div class="page-content">
  <h2 class="center-text">Service Admin</h2>
  <div class="containter">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Service Health</mat-card-title>
        <div *ngIf="fetchingStatus">
          <mat-spinner diameter="64"></mat-spinner>
        </div>
        <div *ngIf="!fetchingStatus">
          <button mat-stroked-button (click)="serviceStatusClick()">Get service status</button>
          <div *ngIf="serviceStatus">
            <table class="app-info-table">
              <div class="section-title">Service info</div>
              <tr>
                <td class="table-key">Service running</td>
                <td class="table-value">{{ !serviceStatus?.serviceHalted }}</td>
              </tr>
              <tr>
                <td class="table-key">Node</td>
                <td class="table-value">{{ serviceStatus?.daemonHost }}:{{ serviceStatus?.daemonPort }}</td>
              </tr>
              <tr>
                <td class="table-key">Service fee</td>
                <td class="table-value">{{ serviceStatus?.serviceCharge | TRTL }}</td>
              </tr>
              <div class="section-title">Firebase wallet info</div>
              <tr>
                <td class="table-key">Status</td>
                <td *ngIf="serviceStatus?.firebaseWalletOk" class="table-value">OK</td>
                <td *ngIf="!serviceStatus?.firebaseWalletOk" class="table-value">Faulty</td>
              </tr>
              <tr>
                <td class="table-key">Sync info</td>
                <td class="table-value">{{ getSyncInfoString(serviceStatus?.firebaseWalletSyncInfo) }}</td>
              </tr>
            </table>
            <div *ngIf="serviceStatus?.appEngineWalletStatus as info">
              <div class="section-title">App Engine wallet info</div>
              <table>
                <tr>
                  <td class="table-key">Status</td>
                  <td *ngIf="serviceStatus?.appEngineWalletOk" class="table-value">OK</td>
                  <td *ngIf="!serviceStatus?.appEngineWalletOk" class="table-value">Faulty</td>
                </tr>
                <tr>
                  <td class="table-key">Started</td>
                  <td class="table-value">{{ info?.started }}</td>
                </tr>
                <tr>
                  <td class="table-key">Wallet uptime</td>
                  <td class="table-value">{{ toHMS(info?.uptime) }}</td>
                </tr>
                <tr>
                  <td class="table-key">Node</td>
                  <td class="table-value">{{ info?.daemonHost }}:{{ info?.daemonPort }}</td>
                </tr>
                <tr *ngIf="info?.networkHeight && info?.walletHeight">
                  <td class="table-key">Height delta</td>
                  <td class="table-value">{{ (info?.networkHeight || 0) - (info?.walletHeight || 0) }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <mat-card-title>Wallet operations</mat-card-title>
        <button mat-stroked-button (click)="rewindAppEngineWalletClick()">rewind App Engine wallet</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
