<h2 class="center-text">Add admin user</h2>
<div class="container">
  <div *ngIf="!working">
    <p *ngIf="errorMessage" class="error-text center-text">{{ errorMessage }}</p>
    <div *ngIf="!succeeded">
      <p>Enter the email address of the user to assign admin privileges to:</p>
      <form class="form-content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <mat-form-field class="form-field">
          <input matInput
            type="email"
            placeholder="email address"
            formControlName="email">
        </mat-form-field>
        <div>
          <button mat-stroked-button
            type="submit"
            [disabled]="!form.valid">submit</button>
        </div>
      </form>
    </div>
    <div *ngIf="succeeded">
      <p>Admin user successfully added.</p>
    </div>
  </div>
  <div *ngIf="working">
    <mat-spinner diameter="64"></mat-spinner>
  </div>
  <div *ngIf="!working" style="display: flex; justify-content: flex-end">
    <button mat-flat-button (click)="onCloseClick()">close</button>
  </div>
</div>
