.title-text {
  text-align: center;
}
.form-content {
  margin: 20px 20px 20px 20px;
}
.table-key {
  width: 60px;
}
.table-value {
  font-size: 0.95em;
}
.name-input {
  width: 300px;
}
.busy-spinner {
  margin: auto;
  width: 128px;
  padding: 20px 20px 20px 20px;
}
.warning-text {
  color: red;
}
.agree-button {
  margin-top: 40px;
}
