.mat-column-createdDate {
  flex: 0 0 20% !important;
  width: 20% !important;
}
.mat-column-amount {
  flex: 0 0 20% !important;
  width: 20% !important;
}
.mat-column-recipients {
  flex: 0 0 10% !important;
  width: 10% !important;
}
