<mat-card>
  <mat-card-title>Saved wallets</mat-card-title>
  <mat-card-content>
    <div *ngIf="savedWallets$">
      <table>
        <tr>
          <td>date</td>
          <td>is checkpoint</td>
          <td>is rewind</td>
          <td>has file</td>
          <td>id</td>
        </tr>
        <tr *ngFor="let save of savedWallets$ | async">
          <td>{{ save.timestamp | date:'short' }}</td>
          <td>{{ save.checkpoint }}</td>
          <td>{{ save.isRewind }}</td>
          <td>{{ save.hasFile }}</td>
          <td>{{ save.id }}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
