.card-holder {
  margin-top: 20px;
  margin-bottom: 20;
}
.fill-toolbar-space {
  flex: 1 1 auto;
}
.info-table {
  margin-top: 10px;
}
.table-key {
  font-size: 0.9em;
}
.table-value {
  font-size: 0.9em;
}
