<h3>Account details</h3>
<div *ngIf="appAccount$ | async as account">
  <table>
    <tr>
      <td class="table-key">Account ID</td>
      <td class="table-value">
        <copy-string-box [data]="account?.id"></copy-string-box>
      </td>
    </tr>
    <tr>
      <td class="table-key">Balance</td>
      <td class="table-value">{{ account?.balanceUnlocked | TRTL }}
        <span *ngIf="account?.balanceLocked !== 0"> ({{ account?.balanceLocked | TRTL }})</span>
      </td>
    </tr>
    <tr>
      <td class="table-key">Created date</td>
      <td class="table-value">{{ account?.createdAt | date: 'short' }}</td>
    </tr>
    <tr>
      <td class="table-key">Deposit address</td>
      <td class="table-value">
        <copy-string-box [data]="account?.depositAddress"></copy-string-box>
      </td>
    </tr>
    <tr>
      <td class="table-key">Withdraw address</td>
      <td class="table-value">
        <span *ngIf="account?.withdrawAddress">
          <copy-string-box [data]="account?.withdrawAddress"></copy-string-box>
        </span>
        <span *ngIf="!account?.withdrawAddress">--</span>
      </td>
    </tr>
    <tr>
      <td class="table-key">Deposit QR code</td>
      <td class="table-value">
        <img [src]="account?.depositQrCode" height="256" width="256">
      </td>
    </tr>
  </table>
</div>
<div style="display: flex; justify-content: flex-end">
  <button mat-flat-button (click)="onCloseClick()">close</button>
</div>
