<h2 class="center-text">Rewind App Engine wallet</h2>
<div class="container">
  <div *ngIf="!working">
    <p *ngIf="errorMessage" class="error-text center-text">{{ errorMessage }}</p>
    <div *ngIf="!newWalletHeight">
      <p>Enter the distance in blocks to rewing the wallet by.</p>
      <form class="form-content" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <mat-form-field class="form-field">
          <input matInput
            type="number"
            placeholder="distance"
            formControlName="distance">
        </mat-form-field>
        <div>
          <button mat-stroked-button
            type="submit"
            [disabled]="!form.valid">rewind</button>
        </div>
      </form>
    </div>
    <div *ngIf="newWalletHeight">
      <p>Wallet rewind successful! new wallet height: {{ newWalletHeight }}</p>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end">
    <button mat-flat-button (click)="onCloseClick()">close</button>
  </div>
  <div *ngIf="working">
    <mat-spinner diameter="64"></mat-spinner>
  </div>
</div>
