<div class="page-container">
  <div class="page-content">
    <mat-card class="y-spacer">
      <mat-card-content>
        <mat-card-title class="page-title center-text">TRTL apps</mat-card-title>
        <div class="section-spacer"></div>
        <div class="logo">
          <img src="assets/images/turtlecoin_symbol_color@2x.png" alt="image">
        </div>
        <div class="center-text">
          <mat-card-title>TurtleCoin as a Service</mat-card-title>
        </div>
        <div class="section-spacer"></div>
        <p>
          TRTL apps makes it easy to use TurtleCoin in your app, game or bot. With TRTL apps you can focus on writing your app
          while we take care of all the details needed to intergrate TurtleCoin.
        </p>
        <p>
          Accepting deposits from users and making withdrawals are easy, and transfers between users of your app
          are free and instant, making it great for micro-transactions.
        </p>
        <div class="section-spacer"></div>
        <div class="center-text">
          <mat-card-title>Ready to get started?</mat-card-title>
          <p>
            <button mat-stroked-button color="accent" (click)="onSignInClick()">Sign in</button> or
            <button mat-stroked-button color="accent" (click)="onRegisterInClick()">Register</button> to create your first app!
          </p>
        </div>
        <p class="spacer">
          Check out our <a href="/getstarted">getting started guides</a> or see
          the <a href="/docs/">general documentation here</a>.
        </p>
        <div class="section-spacer"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="bottom-spacer"></div>
</div>
