<div class="page-container">
  <div class="page-content">
    <mat-card class="y-spacer">
      <mat-card-content>
        <mat-card-title class="page-title center-text">TRTL Apps</mat-card-title>
        <div class="section-spacer"></div>
        <div class="logo">
          <img src="assets/images/turtlecoin_symbol_color@2x.png" alt="image">
        </div>
        <div class="section-spacer"></div>
        <p>
          TRTL Apps makes it easy to use TurtleCoin in your app, game or bot. With TRTL Apps you can focus on writing your app
          while we take care of all the details needed to intergrate TurtleCoin. Check out the <a href="https://www.trtlapps.com/docs/">documentation</a> for
          more information.
        </p>
        <div class="section-spacer"></div>
        <div class="center-text">
          <mat-card-title>Ready to get started?</mat-card-title>
          <p>
            <button mat-stroked-button color="accent" (click)="onSignInClick()">Sign in</button> or
            <button mat-stroked-button color="accent" (click)="onRegisterInClick()">Register</button> to create your first app!
          </p>
        </div>
        <div class="section-spacer"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="bottom-spacer"></div>
</div>
