<div class="warning-box">
  <p>
    <span class="error-text">WARNING: </span> Your app secret is equivelant to your app password. Do not add it to your version control and only use it in trusted(server-side) environments.
  </p>
</div>
<table>
  <tr>
    <td class="table-key">App secret</td>
    <td class="table-value">
      <copy-string-box [data]=appSecret></copy-string-box>
    </td>
  </tr>
</table>
<div style="display: flex; justify-content: flex-end">
  <button mat-flat-button (click)="onCloseClick()">close</button>
</div>
