<div class="page-container">
  <div class="page-content">
    <h2 class="center-text">Profile</h2>
    <div class="containter">
      <mat-card>
        <mat-card-content>
          <table class="app-info-table">
            <tr>
              <td class="table-key">User ID</td>
              <td class="table-value"><copy-string-box [data]=auth.user?.uid></copy-string-box></td>
            </tr>
            <tr>
              <td class="table-key">Email</td>
              <td class="table-value">
                <span>{{ auth.user?.email }}</span>
                <span *ngIf="auth.user?.emailVerified" class="spacer-left"><mat-icon color="primary">check_circle</mat-icon></span>
                <span *ngIf="!auth.user?.emailVerified">
                  <span class="not-verified spacer-left">(not verified)</span>
                  <button *ngIf="!sendingEmail" mat-button color="primary" (click)="verifyEmailClick()">Send verification e-mail</button>
                  <span *ngIf="sendingEmail" class="spacer-left">sending...</span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="table-key">Created at</td>
              <td class="table-value">{{ auth.user?.metadata.creationTime }}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
